@font-face {
    font-family: 'Rhiffiral';
    src: url('Rhiffiral-Regular.woff2') format('woff2'),
        url('Rhiffiral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

