@font-face {
    font-family: 'Rhiffiral';
    src: url('./fonts/Rhiffiral-Regular.woff2') format('woff2'),
        url('./fonts/Rhiffiral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('./fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('./fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('./fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('./fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-secondary;
    }
}